name: Deployment Workflow

on:
  push:
    branches:
      - test
      - main

jobs:
  deploy-test:
    if: github.ref == 'refs/heads/test'
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy to TEST
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /home/mytreeca/test.mytree.care
            git fetch origin test
            git reset --hard origin/test
            npm ci --force
            npm run build
            pm2 restart mytreeTest || pm2 start npm --name "mytreeTest" -- start

  deploy-production:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy to PRODUCTION
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /home/mytreeca/public_html
            git fetch origin main
            git reset --hard origin/main
            npm ci --force
            npm run build
            pm2 restart mytreeProd || pm2 start npm --name "mytreeProd" -- star